<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PingMe</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats</h1>
    <form method="GET" action="/chats/new">
        <button class="msg">New Chat</button>
    </form>
    <br>
    <% for(chat of chats) { %>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <p>Message: <%= chat.msg %></p>
                <form method="GET" action="/chats/<%= chat._id %>/edit">
                    <button class="editmsg">&nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </form>
                <br>
                <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button class="editmsg">&nbsp;&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </form>
            </div>
            <p>To: <%= chat.to %></p>
            <p>Time: <%= chat.created_at.toString().split(" ")[4] %></p>
            <p>Date: <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
        <br>
        <br>
    <% } %>
</body>
</html>